{% extends "base.html" %}

{% block header_title1 %} {{ base.association_name1 }} {% endblock %}
{% block header_title2 %} {{ base.association_name2 }} {% endblock %}
{% block header_title3 %} {{ base.association_name3 }} {% endblock %}
{% block header_news %} {{ base.news }} {% endblock %}
{% block header_program %} {{ base.program }} {% endblock %}
{% block header_about_us %} {{ base.about_us | safe }} {% endblock %}
{% block header_membership %} {{ base.membership }} {% endblock %}

{% block content %}
    <!-- Section -->
    <section>
        <div class="container px-4 px-lg-5 mt-5">
            <h5>{{ membership.title }}</h5>
            <br>
            {{ membership.process_steps | safe }}
            <br>
            <h5>{{ membership.fee }}</h5>
            <br>
            <p>{{ membership.why_pay_fee | safe }}</p>
            <p>{{ membership.fee_amount | safe }}</p>
        </div>
    </section>
{% endblock %}